p {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI";
    font-size: 16px;
    font-weight: 400;
  }
  *{
    transition: all 1s Scubic-bezier(0.215, 0.610, 0.355, 1);
    text-decoration: none;
  }
  #header
  {
    background: url("https://www.gdmcollege.org/images/library-banner-img.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500px;
  }

  #header .container {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);

  }
  hr {
    margin: 0px;
  }

  .navbar h1 {
    font-size: 20px;
  }

  .box {
    max-width: 150px;
  }

  .title {
    font-weight: 100;
  }

  .col-sm-2 {
    padding: 20px;

  }

  .hidden {
    display: none;
  }

  .is-round-edge{
    border-radius: 50px;
  }
  .is-centered{
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }
  #sidebar-right{
    width:290px;
    height:100%;
    position:fixed;
    z-index:100;
    right: -290px;
    transition: all .3s ease;
}

.px12{
  font-size: 12px;
  font-weight: 600;
}

blockquote{
  font-family: BlinkMacSystemFont,;
  font-weight: 600;
  background: #f00;
}

.separator-main {
    border: 0;
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
